<% layout('layout') -%>

<% if (!user) { %>
        <hr>
  <div class="hero-unit">

    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <img src="http://www.nju.edu.cn/themes/10646/qiu/images/main_14_3.jpg" alt="some_text">
        </div>
        <div class="span2">
           <p> This is recommendation. </p>
           <p>
            <a class="btn btn-primary btn-large" href="/login"> Login</a>
            <a class="btn btn-large" href="/reg"> Register </a>
           </p>         
        </div>
      </div>

      
    </div>

  </div>
          <hr>
  <div class="row"> 
    <div class="span4"> 
      <h2>Hangfei</h2>
      <p>  Under Construction.  </p>
      <img src="http://www.nju.edu.cn/themes/10646/qiu/images/main_14_3.jpg" alt="some_text">
    </div>
    <div class="span4"> 
      <h2>Yang Kang</h2>
      <p> Wonderful Day. </p>
      <img src="http://www.nju.edu.cn/ecms/attach/10887.jpg" alt="NJU">
    </div>
    <div class="span4">
      <h2>Man Li</h2>
      <p> Hello world! </p>
    </div>
    <div class="span4"> 
      <h2>James</h2>
      <p>  Under Construction.  </p>
      <img src="http://www.nju.edu.cn/themes/10646/qiu/images/main_14_3.jpg" alt="some_text">
    </div>
    <div class="span4"> 
      <h2>Jim</h2>
      <p> Wonderful Day. </p>
      <img src="http://www.nju.edu.cn/ecms/attach/10887.jpg" alt="NJU">
    </div>
    <div class="span4">
      <h2>Tom</h2>
      <p> Hello world! </p>
    </div>
  </div>
    
<% } else { %>
  <div class="hero-unit">
    <h1>Welcome Pennterest</h1>
    <p>CIS550 Project </p>
    <p>
      <img src="http://www.nju.edu.cn/ecms/attach/10887.jpg" alt="NJU"> 
      <a class="btn btn-primary btn-large" href="/login"> Login</a>
      <a class="btn btn-large" href="/reg"> Register </a>
    </p>
  </div>
  <%- partial('say') %>
  <%- partial('posts') %>
<% } %>

