<form method="post" action="/bing" class="well form-inline center" style="text-align:center;">
  <input type="text" class="span8" name="query">
  <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> Search </button>
</form>
